Building a data frame with mulitple columns
- the idea is that you provide a dictionary as key  and then provide lists that match with that key the key will be the column

In [1]:
import pandas as pd
movie_database =  {"movie": ["The Shawshank Redemption",
                             "The Godfather",
                             "The Godfather: Part II",
                             "The Dark Knight",
                             "Pulp Fiction",
                             "12 Angry Men",
                             "The Good, the Bad and the Ugly",
                             "The Lord of the Rings: The Return of the King",
                             "Schindler's List",
                             "Fight Club",
                             "The Lord of the Rings: The Fellowship of the Ring",
                             "Inception",
                             "Star Wars: Episode V - The Empire Strikes Back",
                             "Forrest Gump"],
                   "duration": [142, 175, 200, 152, 154, 96, 161,
                                201, 195, 139, 178, 148, 124, 142],
                   "rating": [9.3, 9.2, 9.1, 9, 8.9, 8.9, 8.9, 8.9,
                              8.9, 8.9, 8.8, 8.8, 8.8, 8.8],
                   "genre": [ "Crime", "Crime", "Crime", "Action",
                              "Crime", "Drama", "Western",
                              "Adventure", "Biography", "Drama",
                              "Adventure", "Action", "Action", "Drama"]
                   }

In [2]:
movie_reviews = pd.DataFrame(movie_database)
print(movie_reviews)

                                                movie  duration  rating  \
0                            The Shawshank Redemption       142     9.3
1                                       The Godfather       175     9.2
2                              The Godfather: Part II       200     9.1
3                                     The Dark Knight       152     9.0
4                                        Pulp Fiction       154     8.9
5                                        12 Angry Men        96     8.9
6                      The Good, the Bad and the Ugly       161     8.9
7       The Lord of the Rings: The Return of the King       201     8.9
8                                    Schindler's List       195     8.9
9                                          Fight Club       139     8.9
10  The Lord of the Rings: The Fellowship of the Ring       178     8.8
11                                          Inception       148     8.8
12     Star Wars: Episode V - The Empire Strikes Back       124     8.8
13                                       Forrest Gump       142     8.8

        genre
0       Crime
1       Crime
2       Crime
3      Action
4       Crime
5       Drama
6     Western
7   Adventure
8   Biography
9       Drama
10  Adventure
11     Action
12     Action
13      Drama

In [4]:
# when the data is too large to be displayed on the screen
#- the keyword method.head() or method.tail() can be used to display first 5 or last 5
movie_reviews.head()
#movie_reviews.tail()

                      movie  duration  rating   genre
0  The Shawshank Redemption       142     9.3   Crime
1             The Godfather       175     9.2   Crime
2    The Godfather: Part II       200     9.1   Crime
3           The Dark Knight       152     9.0  Action
4              Pulp Fiction       154     8.9   Crime

- if there are two many colums then, the method.columns can be used to print the columns and then select the ones needed

In [5]:
movie_reviews.columns

Index(['movie', 'duration', 'rating', 'genre'], dtype='object')

the following case is when a dictionary of dictionaries is passed as an argument to the pd.DataFrame.

In [6]:
movie_database = {
    'movie': {
        't': 'The Shawshank Redemption',
        1: 'The Godfather',
        2: 'The Godfather: Part II',
        3: 'The Dark Knight',
        4: 'Pulp Fiction',
        5: '12 Angry Men',
        6: 'The Good, the Bad and the Ugly',
        7: 'The Lord of the Rings: The Return of the King',
        8: "Schindler's List",
        9: 'Fight Club',
        10: 'The Lord of the Rings: The Fellowship of the Ring',
        11: 'Inception',
        12: 'Star Wars: Episode V - The Empire Strikes Back',
        13: 'Forrest Gump'},
    'duration': {
        't': 142, 1: 175, 2: 200, 3: 152, 4: 154,
        5: 96, 6: 161, 7: 201, 8: 195,
        9: 139, 10: 178, 11: 148, 12: 124, 13: 142},
    'rating': {
        't': 9.3, 1: 9.2,
        2: 9.1, 3: 9.0, 4: 8.9, 5: 8.9,
        6: 8.9, 7: 8.9, 8: 8.9, 9: 8.9,
        10: 8.8, 11: 8.8, 12: 8.8, 13: 8.8},
    'genre': {
        't': 'Crime', 1: 'Crime', 2: 'Crime',
        3: 'Action', 4: 'Crime', 5: 'Drama',
        6: 'Western', 7: 'Adventure', 8: 'Biography',
        9: 'Drama', 10: 'Adventure', 11: 'Action',
        12: 'Action'}
}

movie_reviews = pd.DataFrame(movie_database)
movie_reviews

,movie,duration,rating,genre
t,The Shawshank Redemption,142,9.3,Crime
1,The Godfather,175,9.2,Crime
2,The Godfather: Part II,200,9.1,Crime
3,The Dark Knight,152,9.0,Action
4,Pulp Fiction,154,8.9,Crime
5,12 Angry Men,96,8.9,Drama
6,"The Good, the Bad and the Ugly",161,8.9,Western
7,The Lord of the Rings: The Return of the King,201,8.9,Adventure
8,Schindler's List,195,8.9,Biography
9,Fight Club,139,8.9,Drama
10,The Lord of the Rings: The Fellowship of the Ring,178,8.8,Adventure
11,Inception,148,8.8,Action
12,Star Wars: Episode V - The Empire Strikes Back,124,8.8,Action
13,Forrest Gump,142,8.8,NaN

As it can be seen above, the pd.DataFrame can take other data types as arguments it can also take 
- list of lists 
- list of numpy one d array 
- and many more 
mismatch of data will be handle by the NAN 
for example below

In [9]:
pd.DataFrame([[1,2,3], [4,5,6],[7,8,9]]) # list of lists

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
import numpy as np
# it can take a two dimensional numpy arrays 
pd.DataFrame(np.random.rand(3,4))

          0         1         2         3
0  0.029549  0.801257  0.775139  0.818045
1  0.633168  0.192043  0.076315  0.712457
2  0.420805  0.503477  0.275721  0.235031

- ### Adding new columns to DataFrame

In [17]:
pd.DataFrame(movie_database, columns = ["movie", "year", "duration"])

# as it can be seen adding a new column that does not have data will have NAN 
# this can be changed later when the data is available

                                                movie year  duration
t                            The Shawshank Redemption  NaN       142
1                                       The Godfather  NaN       175
2                              The Godfather: Part II  NaN       200
3                                     The Dark Knight  NaN       152
4                                        Pulp Fiction  NaN       154
5                                        12 Angry Men  NaN        96
6                      The Good, the Bad and the Ugly  NaN       161
7       The Lord of the Rings: The Return of the King  NaN       201
8                                    Schindler's List  NaN       195
9                                          Fight Club  NaN       139
10  The Lord of the Rings: The Fellowship of the Ring  NaN       178
11                                          Inception  NaN       148
12     Star Wars: Episode V - The Empire Strikes Back  NaN       124
13                                       Forrest Gump  NaN       142

### Accessing data from a DataFrame 
There are multiple ways to extract data from a DataFrame
- To exctract a column we can pass it as an index if only one column is retrieved the result is a pandas series 
- but if multiple columns are selected, the result is a DataFrame with the selected columns

In [21]:
movie_reviews["rating"]

t     9.3
1     9.2
2     9.1
3     9.0
4     8.9
5     8.9
6     8.9
7     8.9
8     8.9
9     8.9
10    8.8
11    8.8
12    8.8
13    8.8
Name: rating, dtype: float64

In [20]:
movie_reviews[[ 'movie','genre','rating']]
# the order is printed according to the colums provided and not the orginal order

                                                movie      genre  rating
t                            The Shawshank Redemption      Crime     9.3
1                                       The Godfather      Crime     9.2
2                              The Godfather: Part II      Crime     9.1
3                                     The Dark Knight     Action     9.0
4                                        Pulp Fiction      Crime     8.9
5                                        12 Angry Men      Drama     8.9
6                      The Good, the Bad and the Ugly    Western     8.9
7       The Lord of the Rings: The Return of the King  Adventure     8.9
8                                    Schindler's List  Biography     8.9
9                                          Fight Club      Drama     8.9
10  The Lord of the Rings: The Fellowship of the Ring  Adventure     8.8
11                                          Inception     Action     8.8
12     Star Wars: Episode V - The Empire Strikes Back     Action     8.8
13                                       Forrest Gump        NaN     8.8

### Accessing the rows 
- in order to access the rows the row loc is used  with labels of the row passed as index 
- passing many rows to be returned would return a pd Dataframe

In [23]:
movie_reviews.loc["t"]
# when one row is passed to be retured, a panda series is returned with the column as index, and the values under those columns

movie       The Shawshank Redemption
duration                         142
rating                           9.3
genre                          Crime
Name: t, dtype: object

In [26]:
# passing manyrows 

movie_reviews.loc[[ 1, 2, "t"]]
# and the new order is followed  and not the original one

                      movie  duration  rating  genre
1             The Godfather       175     9.2  Crime
2    The Godfather: Part II       200     9.1  Crime
t  The Shawshank Redemption       142     9.3  Crime

It is possible that desired rows and columns are selected on the same time.
- one of the ways of doing it is

In [31]:
movie_reviews[1:5], ["movie", "rating", "genre"]

(                    movie  duration  rating   genre
 1           The Godfather       175     9.2   Crime
 2  The Godfather: Part II       200     9.1   Crime
 3         The Dark Knight       152     9.0  Action
 4            Pulp Fiction       154     8.9   Crime,
 ['movie', 'rating', 'genre'])

- To select a specific element from the DataFrame

In [32]:
movie_reviews.at["t", "movie"]

'The Shawshank Redemption'

Other ways of accessing elements from DataFrame is using the iloc though it is advised against unless it is needed 
- it uses the iloc and iat

In [35]:
movie_reviews.iloc[1:3, 0:4]

                    movie  duration  rating  genre
1           The Godfather       175     9.2  Crime
2  The Godfather: Part II       200     9.1  Crime

## Accessing Data using boolean series 
- if we need to filter down data using boolean we have to exrtact the column first and then print it

In [37]:
ratings_filtered =( movie_reviews["rating"]>9.0)
print(ratings_filtered) # true selects rows 
print(movie_reviews[ratings_filtered])
# since it returns a Panda DataFrame, it can be filtered further by other criteria using iloc

t      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: rating, dtype: bool
                      movie  duration  rating  genre
t  The Shawshank Redemption       142     9.3  Crime
1             The Godfather       175     9.2  Crime
2    The Godfather: Part II       200     9.1  Crime

## Arthmetic with DataFrame

In [46]:
df1 = pd.DataFrame(np.random.rand(3,2),columns=['a', 'b'])
print(df1)

df2 = pd.DataFrame(np.random.rand(2,3),columns=['a', 'c', 'd'])
print(df2)

print(df1 + df2)

          a         b
0  0.601146  0.958127
1  0.236013  0.101447
2  0.353679  0.806651
          a         c         d
0  0.333025  0.500543  0.497247
1  0.058950  0.762067  0.773848
          a   b   c   d
0  0.934171 NaN NaN NaN
1  0.294963 NaN NaN NaN
2       NaN NaN NaN NaN

In [41]:
print(df1.add(df2))

          a   b   c   d
0  1.466517 NaN NaN NaN
1  1.223004 NaN NaN NaN
2       NaN NaN NaN NaN

In [45]:

print(df1.add(df2, fill_value=0))

          a         b         c         d
0  1.466517  0.394851  0.739556  0.476498
1  1.223004  0.310562  0.404827  0.242469
2  0.455939  0.314834       NaN       NaN

# Another example trying to add a nother Panda DataFrame

In [50]:
ds = movie_reviews["rating"]    # pandas Series
df = pd.DataFrame(ds)           # Series to DataFrame
df["movie"] = ""               # Add column with empty strings
df["genre"] = ""               # Add column with empty strings
df["duration"] = 0              # Add column with zero value
movie_reviews.add(df)

,duration,genre,movie,rating
t,142,Crime,The Shawshank Redemption,18.6
1,175,Crime,The Godfather,18.4
2,200,Crime,The Godfather: Part II,18.2
3,152,Action,The Dark Knight,18.0
4,154,Crime,Pulp Fiction,17.8
5,96,Drama,12 Angry Men,17.8
6,161,Western,"The Good, the Bad and the Ugly",17.8
7,201,Adventure,The Lord of the Rings: The Return of the King,17.8
8,195,Biography,Schindler's List,17.8
9,139,Drama,Fight Club,17.8
10,178,Adventure,The Lord of the Rings: The Fellowship of the Ring,17.6
11,148,Action,Inception,17.6
12,124,Action,Star Wars: Episode V - The Empire Strikes Back,17.6
13,142,NaN,Forrest Gump,17.6

- the following functions employ  the same method 
The methods of subtraction sub() and mul() and div()

## Function and Mapping

## Function and mapping 
- it's applying panda series functions on DataFrame

In [51]:
df = pd.DataFrame(np.random.rand(3,2), columns=['A', 'B'])

print(df)

print(df.min())                 # DataFrame's method min.

print(df.apply(np.min)) # Numpy function min using apply.

print(df.apply(np.min, axis="columns"))

          A         B
0  0.472656  0.482225
1  0.164645  0.309313
2  0.169268  0.974396
A    0.164645
B    0.309313
dtype: float64
A    0.164645
B    0.309313
dtype: float64
0    0.472656
1    0.164645
2    0.169268
dtype: float64