In [4]:
import pandas as pd 
data = pd.Series([1,2,3,4,])
print(data)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
## a dictionary can also be passed to the pandas series 

data = pd.Series({"a":1, "b":3, "c":4})
data.array
data.index

Index(['a', 'b', 'c'], dtype='object')

In [13]:
# another way of passing lements to the pd series could be passing a list on its own and then index 
# if the the number does not match then error will be returned 

lst = [1,2,3,4,5]
idx = ["a", "b", "c", "d", "e"]
data = pd.Series(lst,index =idx)
print(data)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
# if a dictionary is provided to the pandas series, and then another index is provided

## there is reindexing which follows the new index, and the index that matches are kept and the other index that 
# do not match any data in the dictionary are assigned to NAN

# for example 

d1 = {"a":3, "b":4, "d":10}
idx = ["A", "b", "C" ]
data = pd.Series(d1,index = idx)
data

A    NaN
b    4.0
C    NaN
dtype: float64

- ## changing the index of an already existing series

In [17]:
data = pd.Series([1,3,2,4,])
data

# changing the index 
print(" we are now entering new index ")
# the order of the index corresponds to how they are provided 
idx = ["first", "second", "third", "fourth"] 
# one way
data.index = idx
data

# or this way 
# this takes more memory as it creates a copy of the whole array 
data= pd.Series(data.values, index= idx)
data

 we are now entering new index

first     1
second    3
third     2
fourth    4
dtype: int64

In [18]:
import pandas as pd

idx = ["The Shawshank Redemption",
       "The Godfather",
       "The Godfather: Part II",
       "The Dark Knight",
       "Pulp Fiction",
       "12 Angry Men",
       "The Good, the Bad and the Ugly",
       "The Lord of the Rings: The Return of the King",
       "Schindler's List",
       "Fight Club",
       "The Lord of the Rings: The Fellowship of the Ring",
       "Inception",
       "Star Wars: Episode V - The Empire Strikes Back",
       "Forrest Gump"]

lst = [9.3, 9.2, 9.1, 9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8, 8.8, 8.8, 8.8]

ratings = pd.Series(lst, index=idx)
print(ratings)

The Shawshank Redemption                             9.3
The Godfather                                        9.2
The Godfather: Part II                               9.1
The Dark Knight                                      9.0
Pulp Fiction                                         8.9
12 Angry Men                                         8.9
The Good, the Bad and the Ugly                       8.9
The Lord of the Rings: The Return of the King        8.9
Schindler's List                                     8.9
Fight Club                                           8.9
The Lord of the Rings: The Fellowship of the Ring    8.8
Inception                                            8.8
Star Wars: Episode V - The Empire Strikes Back       8.8
Forrest Gump                                         8.8
dtype: float64

To create pandas with boolean values we just provide a comparison and then a table of the same length is provided

In [20]:
ratings>9.0

The Shawshank Redemption                              True
The Godfather                                         True
The Godfather: Part II                                True
The Dark Knight                                      False
Pulp Fiction                                         False
12 Angry Men                                         False
The Good, the Bad and the Ugly                       False
The Lord of the Rings: The Return of the King        False
Schindler's List                                     False
Fight Club                                           False
The Lord of the Rings: The Fellowship of the Ring    False
Inception                                            False
Star Wars: Episode V - The Empire Strikes Back       False
Forrest Gump                                         False
dtype: bool

After that, then the mast can be used to print the values 
the values that will be printed are the ones that have boolean values of true

In [21]:
rantings_greater_than_9_mask = ratings>9
ratings_greater_thank_9 = ratings[rantings_greater_than_9_mask]
ratings_greater_thank_9

The Shawshank Redemption    9.3
The Godfather               9.2
The Godfather: Part II      9.1
dtype: float64

Another way to collect elements is to use indices slice

In [24]:
lst2 = ["The Shawshank Redemption", "The Godfather"]
ratings[lst2]

The Shawshank Redemption    9.3
The Godfather               9.2
dtype: float64

Combining the np functions and the pandas series instead of using the loops 

this is better because it is faster

In [27]:
import numpy as np
np.count_nonzero(ratings==8.9)

6

Another numpy function that can be used

In [28]:
np.log(ratings)

The Shawshank Redemption                             2.230014
The Godfather                                        2.219203
The Godfather: Part II                               2.208274
The Dark Knight                                      2.197225
Pulp Fiction                                         2.186051
12 Angry Men                                         2.186051
The Good, the Bad and the Ugly                       2.186051
The Lord of the Rings: The Return of the King        2.186051
Schindler's List                                     2.186051
Fight Club                                           2.186051
The Lord of the Rings: The Fellowship of the Ring    2.174752
Inception                                            2.174752
Star Wars: Episode V - The Empire Strikes Back       2.174752
Forrest Gump                                         2.174752
dtype: float64

Pandas series could be multiplied, added and substraction can be performed on them 
but they have to have matching index for example 

- where there was no index it produced NaN which is considered as a float

In [33]:
ratings_added_maybe = ratings+ ratings[rantings_greater_than_9_mask]
ratings_added_maybe

12 Angry Men                                          NaN
Fight Club                                            NaN
Forrest Gump                                          NaN
Inception                                             NaN
Pulp Fiction                                          NaN
Schindler's List                                      NaN
Star Wars: Episode V - The Empire Strikes Back        NaN
The Dark Knight                                       NaN
The Godfather                                        18.4
The Godfather: Part II                               18.2
The Good, the Bad and the Ugly                        NaN
The Lord of the Rings: The Fellowship of the Ring     NaN
The Lord of the Rings: The Return of the King         NaN
The Shawshank Redemption                             18.6
dtype: float64

the pandas isna is used to find where there is NaN or missing values

In [32]:
pd.isna(ratings_added_maybe)
# this can be stored and used to print only the NaN

12 Angry Men                                          True
Fight Club                                            True
Forrest Gump                                          True
Inception                                             True
Pulp Fiction                                          True
Schindler's List                                      True
Star Wars: Episode V - The Empire Strikes Back        True
The Dark Knight                                       True
The Godfather                                        False
The Godfather: Part II                               False
The Good, the Bad and the Ugly                        True
The Lord of the Rings: The Fellowship of the Ring     True
The Lord of the Rings: The Return of the King         True
The Shawshank Redemption                             False
dtype: bool

## Metadata for Series 

the metadata is used to assign properties to an already created series 
- .name // for the name of series or data frame 
- .index.name // for the name of the index

In [35]:
ratings.name = "ratings/10 (over 10)"
ratings.index.name = "movie name"

ratings

movie name
The Shawshank Redemption                             9.3
The Godfather                                        9.2
The Godfather: Part II                               9.1
The Dark Knight                                      9.0
Pulp Fiction                                         8.9
12 Angry Men                                         8.9
The Good, the Bad and the Ugly                       8.9
The Lord of the Rings: The Return of the King        8.9
Schindler's List                                     8.9
Fight Club                                           8.9
The Lord of the Rings: The Fellowship of the Ring    8.8
Inception                                            8.8
Star Wars: Episode V - The Empire Strikes Back       8.8
Forrest Gump                                         8.8
Name: ratings/10 (over 10), dtype: float64

the data in pandas series can be converted back to the dictionaries using `.to_dict() method`

In [36]:
ratings.to_dict()

{'The Shawshank Redemption': 9.3,
 'The Godfather': 9.2,
 'The Godfather: Part II': 9.1,
 'The Dark Knight': 9.0,
 'Pulp Fiction': 8.9,
 '12 Angry Men': 8.9,
 'The Good, the Bad and the Ugly': 8.9,
 'The Lord of the Rings: The Return of the King': 8.9,
 "Schindler's List": 8.9,
 'Fight Club': 8.9,
 'The Lord of the Rings: The Fellowship of the Ring': 8.8,
 'Inception': 8.8,
 'Star Wars: Episode V - The Empire Strikes Back': 8.8,
 'Forrest Gump': 8.8}

In [ ]:
print(df['Embarked'].value_counts(dropna=False))  # when counting the values of each colum 
# by default it does not count the NAN and it is set to True in this case it counts 
df.shape